body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: greenyellow;
    background-color: black;
}

a:link {
    color: lightskyblue;
}

a:visited {
    color: tan;
}

#header {
    text-align: center;
    padding: 15vh 0;
}

#header__title {
    font-size: 40px;
}
#header__title {
    font-size: 40px;
}

#entry {
    margin-bottom: 12vh;
}

#entry__bubble {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    color: black;
    margin: auto;
    width: 500px;
    text-align: center;
}

#entry__input {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#entry__submit {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#footer {
    text-align: center;
}